@model IEnumerable<DotNetCore1.Models.Student>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <form asp-action="Create" method="get">
        <button class="btn btn-primary" type="submit">Create New</button>
    </form>
    @*<a asp-action="Create">Create New</a>*@
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mobile)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mobile)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>

                    <form style="display:inline;">
                        <input type="hidden" name="id" value="@item.Id" />
                        <button class="btn btn-primary" type="submit" formaction="@Url.Action("Edit", new { id = item.Id })">Edit</button>
                        <button class="btn btn-primary" type="submit" formaction="@Url.Action("Details", new { id = item.Id })">Details</button>
                        <button class="btn btn-danger" type="submit" formaction="@Url.Action("Delete", new { id = item.Id })">Delete</button>
                    </form>
                    @* Equivalent of the form
                       @Html.ActionLink("Edit", "Edit", new { id=item.Id}) |
                       @Html.ActionLink("Details", "Details", new {  id=item.Id  }) |
                       @Html.ActionLink("Delete", "Delete", new { id=item.Id }) *@
            </td>
        </tr>
}
    </tbody>
</table>
